<!-- form to pick languages -->
<div ng-show="start">
  <ng-pick-languages></ng-pick-languages>
</div>

<!-- quiz questions -->
<div ng-if="translatedWord.length > 0" ng-hide="complete || failed">
  <ng-quiz-form></ng-quiz-form>
</div>

<br>

<!-- correct or incorrect alert message -->
<div ng-if="translatedWord.length > 1" ng-hide="complete || failed">
  <ng-answer-response></ng-answer-response>
</div>

<!-- message if user fails challenge -->
<div ng-show="failed">
  <ng-failed></ng-failed>
</div>

<!-- message if user completes challenge -->
<div ng-show="complete">
  <ng-complete></ng-complete>
</div>
